---
import Layout from "../layouts/Layout.astro";
import { AuthForm } from "../components/AuthForm";
---

<Layout title="Register">
  <main class="container mx-auto px-4 py-12">
    <AuthForm mode="register" client:load />
  </main>
</Layout>
