---
import Layout from "../layouts/Layout.astro";
import { PasswordResetForm } from "../components/PasswordResetForm";
---

<Layout title="Reset Password">
  <main class="container mx-auto px-4 py-12">
    <PasswordResetForm />
  </main>
</Layout>
