---
import Layout from "../../layouts/Layout.astro";
import { SetNewPasswordForm } from "../../components/SetNewPasswordForm";
---

<Layout title="Set New Password">
  <main class="container mx-auto px-4 py-12">
    <SetNewPasswordForm />
  </main>
</Layout>
